@page "/AddSchedule"
@using Interview.Models
@using Interview.Data
@inject AddPVController AddPVService
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Components;
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Import> Logger
@inject IWebHostEnvironment Environment
@using System.Diagnostics
@using System.Net.Http
@inject IHttpClientFactory httpClient
@using System.Net.Http.Json;
@using System.Web;
@using System.Globalization;
@inject NavigationManager NavigationManager;

<table>
  @*  <tr>
        <td colspan="5" align="left">
            <label style="height: 30px; width:300px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;"> Tìm Ứng Viên</label>@*//label searching

        </td>
    </tr>*@
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td colspan="5" align="left">
            Tìm Ứng Viên
        </td>
    </tr>
    <tr>



        <td>
            <input class="input-group-text" placeholder="Nhập từ khoá..." type="text" @bind-value="@search" />
        </td>
        <td>
            @* <input type="button" class="btn btn-primary" value="Tìm kiếm" @onclick=@Searching />*@
        </td>



        <td>
            <select name="Filter" @bind="@type" style="height:37px" class="sele">
                <option value="">Vị trí:</option>
                @foreach (var tyDetails in typeDetails)
                {
                    <option value="@tyDetails.Name">@tyDetails.Name</option>
                }
            </select>
            @* <input type="button" class="btn btn-primary" value="  Lọc  " @onclick=@Filtering />*@
        </td>

        <td>

            <select name="Order" @bind="@Order" style="height:37px" class="sele">
                <option value="">Sắp xếp</option>
                <option value="0">Mới nhất</option>
                <option value="1">Cũ nhất</option>

            </select>
            <input type="button" class="btn btn-primary" value="Tìm kiếm" @onclick=@Looking />
        </td>


    </tr>
 @*   <tr>


        <td>
            <select name="Filter" @bind="@type" class="sele"> @*//selectbox filter
                <option value="">Vị trí:</option>
                @foreach (var tyDetails in typeDetails)
                {
                    <option value="@tyDetails.Name">@tyDetails.Name</option>
                }
            </select>
            <input type="button" class="btn btn-primary" value="Lọc" @onclick=@Filtering />
        </td>

        <td>
            <select name="Order" @bind="@Order" class="sele">@*//selectbox order        
                <option value="">Sắp xếp</option>
                <option value="0">Mới nhất</option>
                <option value="1">Cũ nhất</option>

            </select>
            <input type="button" class="btn btn-primary " value="Sắp xếp" @onclick=@Ordering />


        </td>


    </tr>*@
</table>
<div style="@(addPV_Flg ? "" : "opacity: 0.1; transition:0.5s" );@(previewMailFlg ? "" : "opacity: 0.1; transition:0.5s" )">
    @if (userDetails == null)
    {
        <p><em>Loading...</em></p>
    }
    @*//main screen*@
    else if (mainFlg && lookFlg == false)
    {
        if (userDetails != null)
        {
            <table class="table">
                <thead >
                    <tr class="tbl2">

                        <th class="tbl">ID</th>
                        <th class="tbl">Chức Danh</th>
                        <th class="tbl">Vị trí</th>
                        <th class="tbl">Họ tên</th>
                        <th class="tbl">Số Điện thoại</th>
                        <th class="tbl">Thời Gian phỏng vấn</th>
                        <th class="tbl">Địa đỉểm phỏng vấn</th>
                        <th class="tbl">Trạng thái</th>
                        <th class="tbl">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var uDetails in userDetails)
                    {
                        <tr class="tbl1">

                            <td class="tbl">
                                @uDetails.userID
                            </td>
                            <td class="tbl">@uDetails.Role</td>
                            <td class="tbl">@uDetails.Position</td>
                            <td class="tbl">@uDetails.userName</td>
                            <td class="tbl">@uDetails.Phone</td>
                            <td class="tbl"> @ConvertTimeFormat(@uDetails.TimeMeeting)  </td>
                            <td class="tbl">@uDetails.Place</td>
                            <td class="tbl">Đã gửi Mail</td>

                            <td>
                                <input type="button" class="btn btn-primary tybut act1_Btn" style="@(uDetails.isCreateMail ? "display:none":"")" value="Thêm vào lịch" @onclick="() => AddInfor(uDetails)" />


                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    @*//filter screen*@
    else if (looking.Count != 0)
    {
        if (lookFlg)
        {
            <table class="table">
                <thead >
                    <tr class="tbl2">

                        <th class="tbl">ID</th>
                        <th class="tbl">Chức Danh</th>
                        <th class="tbl">Vị trí</th>
                        <th class="tbl">Họ tên</th>
                        <th class="tbl">Số Điện thoại</th>
                        <th class="tbl">Thời Gian phỏng vấn</th>
                        <th class="tbl">Địa đỉểm phỏng vấn</th>
                        <th class="tbl">Trạng thái</th>
                        <th class="tbl">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var uDetails in looking)
                    {
                        <tr class="tbl1">

                            <td class="tbl">
                                @uDetails.userID
                            </td>
                            <td class="tbl">@uDetails.Role</td>
                            <td class="tbl">@uDetails.Position</td>
                            <td class="tbl">@uDetails.userName</td>
                            <td class="tbl">@uDetails.Phone</td>
                            <td class="tbl"> @ConvertTimeFormat(@uDetails.TimeMeeting)  </td>
                            <td class="tbl">@uDetails.Place</td>
                            <td class="tbl">Đã gửi Mail</td>

                            <td>
                                <input type="button" class="btn btn-primary tybut act1_Btn" style="@(uDetails.isCreateMail ? "display:none":"")" value="Thêm vào lịch" @onclick="() => AddInfor(uDetails)" />

                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        }


    }
 @*//search screen*@
    else if (userSearchs != null && userSearchs.Count != 0)
    {
        if (searchFlg)
        {
            <table class="table">
                <thead >
                    <tr class="tbl2">

                        <th class="tbl">ID</th>
                        <th class="tbl">Chức Danh</th>
                        <th class="tbl">Vị trí</th>
                        <th class="tbl">Họ tên</th>
                        <th class="tbl">Số Điện thoại</th>
                        <th class="tbl">Thời Gian phỏng vấn</th>
                        <th class="tbl">Địa đỉểm phỏng vấn</th>
                        <th class="tbl">Trạng thái</th>
                        <th class="tbl">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var uDetails in userSearchs)
                    {
                        <tr class="tbl1">

                            <td class="tbl">
                                @uDetails.userID
                            </td>
                            <td class="tbl">@uDetails.Role</td>
                            <td class="tbl">@uDetails.Position</td>
                            <td class="tbl">@uDetails.userName</td>
                            <td class="tbl">@uDetails.Phone</td>
                            <td class="tbl"> @ConvertTimeFormat(@uDetails.TimeMeeting)  </td>
                            <td class="tbl">@uDetails.Place</td>
                            <td class="tbl">Đã gửi Mail</td>

                            <td>

                                <input type="button" class="btn btn-primary tybut" style="@(uDetails.isCreateMail ? "display:none":"")" value="Thêm vào lịch" @onclick="() => AddInfor(uDetails)" />

                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        }

    }
 @*//order screen*@
    else if (userOrders != null && userOrders.Count != 0)
    {
        if (orderFlg)
        {
            <table class="table">
                <thead >
                    <tr class="tbl2">

                        <th class="tbl">ID</th>
                        <th class="tbl">Chức Danh</th>
                        <th class="tbl">Vị trí</th>
                        <th class="tbl">Họ tên</th>
                        <th class="tbl">Số Điện thoại</th>
                        <th class="tbl">Thời Gian phỏng vấn</th>
                        <th class="tbl">Địa đỉểm phỏng vấn</th>
                        <th class="tbl">Trạng thái</th>
                        <th class="tbl">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var uDetails in userOrders)
                    {
                        <tr class="tbl1">

                            <td class="tbl">
                                @uDetails.userID
                            </td>
                            <td class="tbl">@uDetails.Role</td>
                            <td class="tbl">@uDetails.Position</td>
                            <td class="tbl">@uDetails.userName</td>
                            <td class="tbl">@uDetails.Phone</td>
                            <td class="tbl"> @ConvertTimeFormat(@uDetails.TimeMeeting)  </td>
                            <td class="tbl">@uDetails.Place</td>
                            <td class="tbl">Đã gửi Mail</td>


                            <td>
                                <input type="button" class="btn btn-primary tybut" style="@(uDetails.isCreateMail ? "display:none":"")" value="Thêm vào lịch" @onclick="() => AddInfor(uDetails)" />


                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        }


    }
    else if (userDetails.Count == 0 || looking.Count == 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="tbl">ID</th>
                    <th class="tbl">Chức Danh</th>
                    <th class="tbl">Vị trí</th>
                    <th class="tbl">Họ tên</th>
                    <th class="tbl">Số Điện thoại</th>
                    <th class="tbl">Thời Gian phỏng vấn</th>
                    <th class="tbl">Địa đỉểm phỏng vấn</th>
                    <th class="tbl">Trạng thái</th>
                    <th class="tbl">Hành Động</th>
                </tr>
            </thead>
        </table>
    }
</div>

@*popup add schedule*@
@if (addPV_Flg == false)
{
    <div id="popup" class="popup" style="@(addPV_Flg ? "display:none": ""); position:fixed">
        <div class="popup-content " style=" position: relative;">
            <button class="close" @onclick=@(()=> fclose())>&times;</button>


            <h2>Nhập thông tin cho lịch phỏng vấn</h2>
            <label class="first">Họ tên ứng viên</label>
            <input type="text" class="addIn" @bind-value="@tenUV" disabled>

            <label>Thời gian</label>
            <input type="datetime-local" class="addIn" @bind-value="@tgianPV">
            <label>Người phỏng vấn</label>

            <select class="addIn" @onchange="HandleSelectChange" multiple>

                <option value="ntdat170401@gmail.com">Hai </option>
                <option value="speedforceim@gmail.com">Xuat </option>
                <option value="barryallen1742001@gmail.com">Chinh</option>
            </select>

            <label>Địa điểm</label>
            <input class="addIn" @bind-value="@locationPV">
            <label>Phòng họp</label>
            <input class="addIn" @bind-value="@room">
            <button class="pop_Btn" style="bottom:15px" @onclick="handleAdd_Schedule">
                Lưu
            </button>
        </div>
    </div>
}

@*popup loading animation*@
<div id="popup" class="popup" style="@(isSending ? "display:none": ""); position:fixed;">






    <div class="lds-dual-ring"></div>


</div>

@*popup error room*@
<div id="popup" class="popup" style="@(roomFlg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@Rclose>&times;</button>
        <label>Chưa có thông tin phòng họp!</label>


        <button class="pop_Btn" style="bottom:125px" @onclick="Rclose">
            Đóng
        </button>
    </div>
</div>
@*popup error InterviewEr*@
<div id="popup" class="popup" style="@(selectFlg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@Sclose>&times;</button>
        <label>Chưa có nguời phỏng vấn nào được chọn!</label>


        <button class="pop_Btn" style="bottom:125px" @onclick="Sclose">
            Đóng
        </button>
    </div>
</div>
@*popup error filter*@
<div id="popup" class="popup" style="@(errF_Flg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@Fclose>&times;</button>
        <label>Chưa chọn vị trí</label>


        <button class="pop_Btn" style="bottom:15px" @onclick="Fclose">
            Đóng
        </button>
    </div>
</div>
@*popup error Search*@
<div id="popup" class="popup" style="@(errS_Flg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@Lclose>&times;</button>
        <label>Chưa nhập giá trị cần tìm</label>


        <button class="pop_Btn" style="bottom:15px" @onclick="Lclose">
            Đóng
        </button>
    </div>

</div>
@*popup error order*@
<div id="popup" class="popup" style="@(errO_Flg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@Oclose>&times;</button>
        <label>Chưa chọn kiểu sắp xếp</label>


        <button class="pop_Btn" style="bottom:15px" @onclick="Oclose">
            Đóng
        </button>
    </div>
</div>
@*popup error haven't edit done yet*@
<div id="popup" class="popup" style="@(isClose_Flg ? "display:none": ""); position:fixed;">
    <div class="popup-content pop_content">
        <button class="close" @onclick=@IC_close>&times;</button>
        <label>Bạn còn lịch đang thêm,nếu rời khỏi đây mà chưa lưu thì dữ liệu sẽ không được tự động lưu!</label>


        <button class="pop_Btn" style="bottom:125px" @onclick="YsC_close">

           Xác nhận thoát
        </button>

      
    </div>
</div>
@code {


    
}
